@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap');
body{
    max-width:200px;
    max-height:400px;
}
button{
    width: 100%;
}

p{
    font-family: 'Lexend Peta', sans-serif;
}

.dark-mode {
    background-color: black;
    color: white;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    right: 0;
    width: 35px;
    height: 20px;
    float: right;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bbbbbb;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0px 15px #2020203d;
    background: white url('https://i.ibb.co/FxzBYR9/night.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
  }
  
  input:checked + .slider {
    background-color: #787e82;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #dddddd;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
    background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }